* {
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

@media all and (max-device-width: 767px) {
  .logo {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFFF;
  }
  .logo__img {
    height: 40px;
  }
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 35px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: lightgray;
  }
  .location__icon {
    margin: 0 3px 0 0;
  }
  .location__search {
    margin: 0 0 0 1px;
  }
  .search-text {
    border: none;
    background-color: lightgray;
  }
  .introduction {
    background-color: #efe9e9;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .subtitle {
    font-family: Roboto;
  }
  .text {
    font-family: Roboto;
  }
  .fonctionnement {
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fonctionnement__title {
    width: 90%;
  }
  .fonctionnement__btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    width: 90%;
    height: 80px;
    border-radius: 25px;
    border: none;
    -webkit-box-shadow: 3px 3px 3px 1px lightgray;
            box-shadow: 3px 3px 3px 1px lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants {
    background-color: #efe9e9;
    height: 1050px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants-title {
    width: 90%;
  }
  .restaurants-box {
    width: 90%;
    height: 22%;
    border-radius: 25px;
    background-color: #ffff;
  }
  .restaurant-image > img {
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 170px;
  }
  .restaurant-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .restaurant-text {
    width: 90%;
  }
  .footer {
    height: 300px;
    background-color: gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */