*{
    margin: auto;
    padding: 0;
}

@media all and (max-device-width:767px) {

    .logo{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFF;
        &__img{
            height: 40px;
        }
    }


    .location{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 35px;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        &__icon{
            margin-right: 3%;
        }
    }



    .search-text{
        border: none;
        background-color: lightgray;
    }

    .introduction{
        background-color: snow;
        &__text{
            display: flex;
        flex-direction: column;
        align-content: center;
        }
    }

}