$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-terciary: #99E2D0;
$color-base: #ffff;
$color-gray: rgb(239, 233, 233);

$font-subtitle: Roboto;
$font-text: Roboto;


*{
    margin: auto;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

@media all and (max-device-width:767px) {

    .logo{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFF;
        &__img{
            height: 40px;
        }
    }

    .location{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 35px;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        &__icon{
            margin: 0 3px 0 0;
        }
        &__search{
            margin: 0 0 0 1px;
        }
    }

    .search-text{
        border: none;
        background-color: lightgray;
    }

    .introduction{
        background-color: $color-gray;
        height: 220px;
        
        &__text{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }

    .btn-colored{
        width: 60%;
        height: 80px;
        border-radius: 50px;
        border: none;
        box-shadow: 3px 3px 3px 1px lightgray;
        background: linear-gradient($color-secondary,$color-primary);
        color: $color-base;
    }

    .subtitle{
        font-family: $font-subtitle;
        &-first{
            width: 60%;
            text-align: center;
        }
    }

    .text{
        font-family: $font-text;
        &-first{
            width: 80%;
            text-align: center;
        }
    }

    .fonctionnement{
        height: 350px;
        display: flex;
        flex-direction: column;
        &__title{
            width: 90%;
        }
        &__btn{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .btn{
        width: 90%;
        height: 80px;
        border-radius: 25px;
        border: none;
        box-shadow: 3px 3px 3px 1px lightgray;
        display: flex;
        flex-direction: row;
    }

    .btn-icon{
        margin-left: 18%;
        margin-right: 25px;
    }

    .btn-title{
        margin-left: 0;
    }

    #restaurants{
        background-color: $color-gray;
        height: 1050px;
        display: flex;
        flex-direction: column;
    }

    .restaurants-title{
        width: 90%;
    }
    .restaurants-box{
        width: 90%;
        height: 22%;
        border-radius: 25px;
        background-color: $color-base;
    }

    .restaurant-image{
        & >img{
            border-radius: 25px 25px 0 0;
            width: 100%;
            height: 170px;
        }
    }

    .restaurant-description{
        display: flex;
        flex-direction: row;
    }

    .restaurant-text{
        width: 80%;
    }

    .footer{
        height: 200px;
        background-color: gray;
        display: flex;
        flex-direction: column;
        &__links{
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
        &-logo{
            margin: 0;
            & >object{
                fill: white;
                width: 30%;
                margin: 10px;
            }
        }
    }

    

    .text-footer{
        font-family: $font-text;
        margin-left: 0;
        margin-bottom: 10px;
        color: $color-base;
    }

    .menu__main{
        height: 1600px;
    }

    .logo__container{
        display: flex;
        flex-direction: row;
        }
    
    .return-icon{
        margin-left: 20px;
    }

    .img-container{
        margin-left: 0;
    }
    
    .restaurant__img{
        width: 100%;
        position: absolute;
        & > img{
            width: 100%;
        }
    }

    .menu__container{
        width: 100%;
        height: 1400px;
        display: flex;
        flex-direction: column;
        border-radius: 25px 25px 0 0;
        background-color: $color-gray;
        position: relative;
        top: 200px;
    }

    .menu__title{
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        & >h2 {
            width: 95%;
            font-family: Shrikhand;
        }
    }

    .menu__options{
        width: 95%;
        margin-top: 10px;
        margin-bottom: 5px;
        &--entrees{
            height: 350px;
            display: flex;
            flex-direction: column;
        }
        &--plats{
            height: 350px;
            display: flex;
            flex-direction: column;
        }
        &--desserts{
            height: 350px;
            display: flex;
            flex-direction: column;
        }
    }

    .menu__paragraph{
        width: 100%;
        padding-bottom: 5px;
        & >p {
            font-size: 18px;
            font-family: $font-text;
            border-bottom: 3px solid $color-terciary;
        }
    }

    .container__menu{
        width: 100%;
        height: 80px;
        border-radius: 25px;
        background-color: $color-base;
        & >h4{
            width: 95%;
        }
    }

    .description__prix{
        display: flex;
        flex-direction: row;
        & >p {
            width: 85%;
        }
    }

    .commander__btn{
        width: 100%;
        height: 90px;
        margin-top: 60px;
        display: flex;
    }

}

.loader {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: apparition 0.2s 3s ease-in-out forwards;
  }
  

/* animation*/
.step {
    &1{
      animation: fadein 2s; 
      animation-fill-mode: both;
    }
    &2{
      animation: fadein 2s;
      animation-delay: 1.5s; 
      animation-fill-mode: both;
    }
    &3{
      animation: fadein 2s;
      animation-delay: 3s; 
      animation-fill-mode: both;
    }
}

@keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
    }
  }

  // loading
.loader {
    @keyframes apparition {
      from {
        opacity: 100%;
      }
      to {
        opacity: 0%;
        visibility: hidden;
      }
    }
    &_spinner {
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }
