.menu__main{
    height: 1600px;
    @media screen and (min-width:992px){
        height: 1300px;
    }
}

.restaurant__img{
    width: 100%;
    position: absolute;
    & > img{
        width: 100%;
        height: 960px;
    }
}

.menu__container{
    width: 100%;
    height: 1400px;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 0 0;
    background-color: $color-gray;
    position: relative;
    top: 200px;
    @media screen and (min-width:992px){
        height: 1100px;
    }
}

.menu__title{
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    & >h2 {
        width: 95%;
        font-family: Shrikhand;
        font-size: 24px;
        @media screen and (min-width: 992px) {
            font-size: 36px;
        }
    }
}

.menu__options{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
    &--entrees{
        height: 350px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width:992px){
            flex-direction: row;
            flex-wrap: wrap;
            height: 250px;
        }
    }
    &--plats{
        height: 350px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width:992px){
            flex-direction: row;
            flex-wrap: wrap;
            height: 250px;
        }
    }
    &--desserts{
        height: 350px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width:992px){
            flex-direction: row;
            flex-wrap: wrap;
            height: 250px;
        }
    }
}

.menu__paragraph{
    width: 100%;
    padding-bottom: 5px;
    &-style {
        font-size: 18px;
        font-family: $font-text;
        border-bottom: 3px solid $color-terciary;
        width: fit-content;
        margin-left: 0;
    }
}

.container__menu{
    display: flex;
    width: 100%;
    height: 80px;
    border-radius: 25px;
    background-color: $color-base;
    overflow: hidden;
    cursor: pointer;
    & >h4{
        width: 95%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover .menu_check{
        width: 20%;
        animation: check-animation 1s ease-in-out;
        background-color: $color-terciary;
    }
    &:hover i {
        visibility: visible;
        transition: 0.75s;
        transform:rotate(360deg);
      }
    @media screen and (min-width:992px){
        width: 40%;
        margin-left: 0;
    }
}

.description__title{
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description__prix{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.description{
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prix{
    margin-right: 0;
}

.menu_description{
    width: 100%;
    &:hover{
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.menu_check{
    margin-right: 0;
    margin-left: 0;
    height: 100%;
    display: flex;
    & > i {
        visibility: hidden;
        color: $color-terciary;
        background-color: $color-base;
        border-radius: 50%;
    }
}
