.restaurants{
    background-color: $color-gray;
    height: 1050px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 992px) {
        height: 600px;
    }
    &__title{
        width: 90%;
        margin-left: 10px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        @media screen and (min-width:992px) {
            flex-wrap: wrap;
        }
    }
    &__box{
        width: 80%;
        height: 22%;
        border-radius: 25px;
        background-color: $color-base;
        position: relative;
        & > a{
            height: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        &-image{
            width: 100%;
            margin-top: 0;
            & >img{
                border-radius: 25px 25px 0 0;
                width: 100%;
                height: 170px;
            }
            & >span{
                background-color: $color-terciary;
                color: darken($color-terciary, 50%);
                padding: 0.5rem;
                border-radius: 0.125rem;
                position: absolute;
                top: 1rem;
                right: 0.75rem;
            }
        }
        &-description{
            width: 80%;
        }
        &-icon > i {
            cursor: pointer;
            font-weight: 100;
            &:hover:before{
                transition: all .8s ease-in-out;
                background-clip: text;
                font-weight: 900;
                background-image: $gradient-btn;
                -webkit-text-fill-color: transparent;
            }
        }   
        @media screen and (min-width: 992px) {
        width: 35%;
        height: 40%;
        margin-top: 15px;
        margin-bottom: 15px;
        }
        &:hover{
            transform: scale(1.03);
            box-shadow: 3px 3px 3px 1px lightgray;
        }
    }
}


.restaurant-text{
    width: 95%;
}
