.restaurants{
    background-color: $color-gray;
    height: 1050px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 992px) {
        height: 600px;
    }
    &__title{
        width: 90%;
        margin-left: 10px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        @media screen and (min-width:992px) {
            flex-wrap: wrap;
        }
    }
    &__box{
        width: 80%;
        height: 22%;
        border-radius: 25px;
        background-color: $color-base;
        & > a{
            height: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        &-image{
            width: 100%;
            margin-top: 0;
            & >img{
                border-radius: 25px 25px 0 0;
                width: 100%;
                height: 170px;
            }
        }
        &-description{
            width: 80%;
        }
        @media screen and (min-width: 992px) {
        width: 35%;
        height: 40%;
        margin-top: 15px;
        margin-bottom: 15px;
        }
        &:hover{
            transform: scale(1.03);
        }
    }
}

.restaurant-text{
    width: 95%;
}

.restaurant{
    &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: solid 0px transparent;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    background-color: black;       
        &:hover::before {
            opacity: 1;
        }
        &::before {
            opacity: 0;
            transition: 0.3s;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
        }
    }
    &__like {
        transition-duration: .25s;
        background-color: #f6f6f6;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        mix-blend-mode: lighten;
        border: solid 0px transparent;
    }
        
    &__btn:hover {
        .restaurant__like {
            &--noBground {
                opacity: 0;
            }
        }
    }
}

.box{
    &__btn {
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: solid 0px transparent;
        padding: 0;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left: 0;
    }
    &__like {
        background-color: white;
    }
}
        