.btn-colored{
    display: flex;
    width: 200px;
    height: 80px;
    border-radius: 50px;
    border: none;
    box-shadow: 3px 3px 3px 1px lightgray;
    background: $gradient-btn;
    color: $color-base;
    cursor: pointer;
    &:hover{
        box-shadow: 2px 3px 10px rgb(0 0 0 / 35%);
        transform: scale(1.03);
    }
}
