*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1 h2{
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 22px;
}

h3{
    color: black;
    font-size: 16px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
}

a{
    text-decoration: none;
    color: gray;
    margin-bottom: 10px;
}

li {
    margin:15px;
}

/* Header */

.mudaNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.menuNav{
    width: 25%;
}
.menu{
    display: flex;
    flex: row;
    margin-right: 30px;
    list-style-type: none;  
}

.menuBar{
  padding: 10%;
  padding-top: 12px;
  margin-top: 0;
}

.menuBar:hover {
    border-top: 3px solid #0065fc;
    cursor: pointer;
}

.menuBar:hover > a {
    color: #0065fc;
  }



.logo{
    width: 80px;
    height: 40px;
    margin: 20px;
}

/* Description */

#description{
    margin: 0 30px;
}

.search-box {
    display: flex;
    width: 28%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.location-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

.search{
    display: flex;
    background: none;
    border:  solid 2px #F2F2F2;
    border-radius: 0 15px 15px 0;
}

.search-text{
    width: 250px;
    color: black;
    border: none;
    outline: none;
    padding-left: 20px;
}

.search-btn{
    background-color: #0065FC;
    color: #ffff;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 90px;
    cursor: pointer;
}

.search-btn-mobile{
    display:none
}

.search i{
    display: none;
}

label{
    cursor: pointer;
}

label:hover{
    background-color: black;
    color: #FFFF;
}

.filters input{
    display: none;
}

.filters{
    display: flex;
    align-items: center;
}

.filters-box{
    border: solid 1px #F2F2F2;
    border-radius: 100px;
    width: fit-content;
    margin: 10px;
    display: flex;
    align-items: center;
}

.filters-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.testes{
    margin-left: 10px;
    margin-right: 20px;
}

.available{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.availability-text{
    padding: 15px;
}

/* Hebergements */

#hebergements{
    margin: 30px;
    display: flex;
    height: 650px;
    flex: row;
    justify-content: space-between;
}

.blue-star{
    color: #0065FC;
    font-size: 12px;
}

.gray-star{
    color: lightgray;
    font-size: 12px;
}

.main {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.title{
    width: 100%;
    margin-bottom: 5px;
}

.tabs{
    background-color: #ffff;
    width: 30%;
    height: 35%;
    box-shadow: 3px 3px 3px 1px lightgray;
    border-radius: 15px;
    margin: 10px;
}

 .link-tabs{
     width: 100%;
     height: 100%;
 }

 .images-container{
    height: 60%;
    margin: 3px;
}

.imagesTabs{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
} 

.textsTabs{
    width: 95%;
    height: 40%;
    margin-left: 15px;
    margin-top: 5px;
}

.bestPlaces{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.title-bestPlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cases{
    background-color: #ffff;
    width: 100%;
    height: 30%;
    box-shadow: 3px 3px 3px 1px lightgray;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-a{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.imagesCases-container{
    width: 40%;
    height: 100%;
}

.imagesCases{
    width: 100%;
    height: 95%;
    border-radius: 15px 0 0 15px;
    margin: 3px;
}

.textCases{
    height: 95%;
    width: 60%;
    margin: 15px;
}

/* Activities*/

#activities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    height: 400px;
}

.activities-main{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxActivities{
    width: 23%;
    height: 100%;
    margin-bottom: 40px;
}

.activitiesBig{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}

.boxActivities2{
    width: 23%;
    height: 100%;
    margin-bottom: 40px;
}

.activitiesSmall{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.textB{
    width: 100%;
    height: 100%;
}

.imagesActivities{
 height: 100%;
 width: 100%;
 border-radius: 15px 15px 0 0;
}

.lugar1{
    width: 100%;
    height: 50%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}

.lugar2{
    width: 100%;
    height:  45%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}

.image-container{
    height: 91%;
}

.image2-container{
    width: 100%;
    height: 80%;
}

.textBoxActivities{
    width: 100%;
    height: 10%;
    margin-top: 5px;
    margin-left: 10px;
}


/* Footer */

footer{
    background-color: #F2F2F2;
    display: flex;
    margin-top: 60px;
}

.footer{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-right: 200px;
}

.footer-title{
    margin-bottom: 10px;
}

/* Media Queries */

@media (min-width: 768px) and (max-width: 992px) {
.location-icon{
    width: 50px;
}

    .filters{
        flex-direction: column;
        align-items: flex-start;
    }

    #hebergements{
        width: 90%;
        height: auto;
        flex-direction: column-reverse;
    }

    .title-bestPlaces{
        width: 100%;
    }

    .bestPlaces{
        width: 100%;
        flex-flow: row wrap;
    }

    .cases{
        width: 30%;
        height: auto;
    }

    .textCases{
        display: flex;
        height: auto;
        width: 60%;
        margin: 0 10px;
        flex-wrap: wrap;
        align-items: center;
    }

    .main{
        width: 100%;
        height: 600px;
        margin-top: 10px;
    }

}

@media (max-width: 767px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .title{
        margin-top: 15px;
        margin-left: 5px;
        font-size: 18px;
    }

    .mudaNav{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .menuNav{
        width: 110%;
    }

    .logo{
        width: 105px;
        height: auto;
    }

    #description{
        margin: 0 15px;
    }

    p{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .search-box{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50%;
        height: 50px;
    }

    .search-btn{
        display: none;
    }

    .search-btn-mobile{
        display: block;
        width: 50px;
        border-radius: 15px;
        background-color: #0065fc;
        border: none;
    }

    .search i {
        position: relative;
        top: 16px;
        right: 35px;
        color: white;
        display: block;
        cursor: pointer;
    }

    .filters{
        flex-direction: column;
        align-items: flex-start;
    }
    
    #hebergements{
        flex-direction: column-reverse ;
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .main{
        flex-direction: column;
        margin-top: 20px;
        padding: 5px;
        background-color: #ffff;
    }

    .tabs{
        width: 97%;
        height: 200px;
    }

    .cases{
        height: 180px;
    }

    .textsTabs p{
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .textsTabs h3{
        font-size: 18px;
    }

    #activities{
        height: auto;
        margin: 0;
    }

    .activities-main{
        flex-direction: column;
        margin-left: 18px;
    }

    .boxActivities{
        width: 90%;
        height: 200px;
    }

    .boxActivities2{
        width: 90%;
        height: 400px;
    }

    .image-container{
        height: 75%;
    }

    .image2-container{
        height: 75%;
    }

    .textBoxActivities{
        margin-top: 15px;
    }

    .textBoxActivities h3 {
        font-size: 20px;
    }


    footer{
        display: flex;
        flex-direction: column;
        margin:0;
    }

    .footer{
        margin: 30px 0 0 30px;
    }

    .footer-title{
        width: 300px;
    }

    .footer a{
        width: 300px;
    }
}