body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

img{
    float: left;
    width: 200px;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin: 3px;
}

footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

#description{
    margin: 30px;
}

.logo{
    width: 70px;
    height: 70px;
    margin: 20px;
}

.headerContainer{
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    justify-content: flex-start;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tabs{
    background-color: #ffff;
    width: fit-content;
    border-radius: 15px;
    margin: 10px;
}

.main {
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 800px;
    height: 600px;
    margin: 0 30px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.bestPlaces{
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 400px;
    height: 600px;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.title{
    width: 100%;
}

#activites{
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

.cases{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    width: fit-content;
    border-radius: 15px;
    margin: 10px;

}

#hebergements{
    display: flex;
    flex: row wrap;
}